/* Custom class for light grey background */
.bg-light-grey {
  background-color: darkgrey; /* Light grey background */
}

.nav-link.active {
  background-color: #0d6efd; /* Bootstrap primary */
  color: #fff !important;
  border-radius: 5px;
}
.navbar a {
  font-weight: bold;
}
